<?xml version="1.0"?>
<robot name="floor">
  <link name="floor_link">
    <visual>
      <geometry>
        <box size="1.0 1.0 0.001"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <box size="1.0 1.0 0.001"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.0"/>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="12.0"/>
      <!-- https://en.wikipedia.org/wiki/List_of_moments_of_inertia#List_of_3D_inertia_tensors -->
      <!-- m/12*(s1^2 + s2^2)-->
      <inertia ixx="1.000001" ixy="0.0" ixz="0.0" iyy="1.000001" iyz="0.0" izz="2.0"/>
    </inertial>
  </link>

</robot>